<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226716395156-qdcl427mnb7r8qpusqlh95stb08b1kkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226716395156-qdcl427mnb7r8qpusqlh95stb08b1kkb</string>
	<key>API_KEY</key>
	<string>AIzaSyAhArDE9vrEinzj44sH8hTqwGbvvjAT02c</string>
	<key>GCM_SENDER_ID</key>
	<string>226716395156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahul.ios.MyFundooNote</string>
	<key>PROJECT_ID</key>
	<string>myfundoonote-ffba2</string>
	<key>STORAGE_BUCKET</key>
	<string>myfundoonote-ffba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226716395156:ios:dc67fecd44cf28aaf27681</string>
</dict>
</plist>